@charset "UTF-8";
/*
body {
    background-color: $color-bg;
    color: $color-text;
}*/
/********* imports *********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/********* fonts sources *********/
/*@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/LiberationSansRegular.eot');
    src: url('../fonts/LiberationSansRegular.eot') format('embedded-opentype'),
         url('../fonts/LiberationSansRegular.woff2') format('woff2'),
         url('../fonts/LiberationSansRegular.woff') format('woff'),
         url('../fonts/LiberationSansRegular.ttf') format('truetype'),
         url('../fonts/LiberationSansRegular.svg#LiberationSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/LiberationSansBold.eot');
    src: url('../fonts/LiberationSansBold.eot') format('embedded-opentype'),
         url('../fonts/LiberationSansBold.woff2') format('woff2'),
         url('../fonts/LiberationSansBold.woff') format('woff'),
         url('../fonts/LiberationSansBold.ttf') format('truetype'),
         url('../fonts/LiberationSansBold.svg#LiberationSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}*/
/********* roboto *********/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.eot");
  src: url("../fonts/roboto/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.eot");
  src: url("../fonts/roboto/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff"), url("../fonts/roboto/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Thin.eot");
  src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.eot");
  src: url("../fonts/roboto/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff"), url("../fonts/roboto/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.eot");
  src: url("../fonts/roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff"), url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/roboto/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.eot");
  src: url("../fonts/roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.eot");
  src: url("../fonts/roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff"), url("../fonts/roboto/Roboto-Italic.ttf") format("truetype"), url("../fonts/roboto/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.eot");
  src: url("../fonts/roboto/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff"), url("../fonts/roboto/Roboto-ThinItalic.ttf") format("truetype"), url("../fonts/roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

/********* lato **********/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Italic.eot");
  src: url("../fonts/lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Italic.woff2") format("woff2"), url("../fonts/lato/Lato-Italic.woff") format("woff"), url("../fonts/lato/Lato-Italic.ttf") format("truetype"), url("../fonts/lato/Lato-Italic.svg#Lato-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/lato/Lato-Hairline.eot");
  src: url("../fonts/lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Hairline.woff2") format("woff2"), url("../fonts/lato/Lato-Hairline.woff") format("woff"), url("../fonts/lato/Lato-Hairline.ttf") format("truetype"), url("../fonts/lato/Lato-Hairline.svg#Lato-Hairline") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-LightItalic.eot");
  src: url("../fonts/lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-LightItalic.woff2") format("woff2"), url("../fonts/lato/Lato-LightItalic.woff") format("woff"), url("../fonts/lato/Lato-LightItalic.ttf") format("truetype"), url("../fonts/lato/Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"), url("../fonts/lato/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Black.eot");
  src: url("../fonts/lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Black.woff2") format("woff2"), url("../fonts/lato/Lato-Black.woff") format("woff"), url("../fonts/lato/Lato-Black.ttf") format("truetype"), url("../fonts/lato/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BoldItalic.eot");
  src: url("../fonts/lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/lato/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.eot");
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.woff2") format("woff2"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.ttf") format("truetype"), url("../fonts/lato/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BlackItalic.eot");
  src: url("../fonts/lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/lato/Lato-BlackItalic.woff") format("woff"), url("../fonts/lato/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/lato/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.eot");
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Light.woff2") format("woff2"), url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.ttf") format("truetype"), url("../fonts/lato/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/lato/Lato-HairlineItalic.eot");
  src: url("../fonts/lato/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/lato/Lato-HairlineItalic.woff") format("woff"), url("../fonts/lato/Lato-HairlineItalic.ttf") format("truetype"), url("../fonts/lato/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

/********* fonts *********/
body {
  line-height: 1.2;
  font-family: 'Roboto';
  font-weight: 400; }

#content h1 {
  font-family: 'Roboto';
  font-weight: 600;
  padding: 5px;
  font-size: 26px; }

#content h2, #content h3 {
  font-family: 'Roboto';
  font-weight: 400;
  padding: 5px; }

#content p {
  font-family: 'Lato';
  font-weight: 300;
  padding: 5px; }

#content strong {
  font-family: 'Roboto';
  font-weight: 700; }

* {
  box-sizing: border-box; }

.content {
  width: 100%;
  height: 100vh; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  width: 8.33%;
  height: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.img-body {
  background-image: url(../images/body.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/*background-position: center top;*/
.brand_1 {
  background-image: url(../images/brand/BADANIA.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_2 {
  background-image: url(../images/brand/gild.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_3 {
  background-image: url(../images/brand/IMG_5135.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_4 {
  background-image: url(../images/brand/IMG_6698.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_5 {
  background-image: url(../images/brand/przedpo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_6 {
  background-image: url(../images/brand/REKONSTRUKCJA.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_7 {
  background-image: url(../images/brand/RZEŹBA.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_8 {
  background-image: url(../images/brand/SZTALUGOWE.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_9 {
  background-image: url(../images/brand/ŚCIENNE.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.brand_10 {
  background-image: url(../images/brand/ZŁOCENIE.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/*$color-bg: red;
$color-text: white;
*/
/********* content *********/
#content {
  width: 100%;
  background-color: white;
  padding: 10px; }

header {
  background-color: lightyellow;
  height: 100vh; }

nav {
  height: 80px;
  /* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
  /*
	 * But let's hide the middle one.
	 */
  /*
	 * Ohyeah and the last one should go the other direction
	 */
  /*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
  /*
	 * And let's slide it in from the left
	 */ }
  nav a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease; }
  nav #menuToggle {
    display: block;
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 1;
    user-select: none; }
  nav #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */ }
  nav #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  nav #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  nav #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  nav #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  nav #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  nav #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  nav #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  nav #menu li {
    padding: 10px 0;
    font-size: 22px; }
  nav #menuToggle input:checked ~ ul {
    transform: none; }

hgroup {
  height: 200px;
  min-height: 300px; }
  hgroup div {
    width: 80%;
    margin: 0 auto; }

section #about {
  background-color: lightgreen;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse; }
  section #about .container {
    height: 50%; }
  section #about .text-about {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    section #about .text-about div {
      width: 80%;
      margin: 0 auto; }
  section #about .img-about .img-body {
    height: 100%;
    width: 100%;
    display: block; }

section #work {
  background-color: lightblue;
  margin: 0 auto;
  max-width: 1600px; }
  section #work .square {
    float: left;
    position: relative;
    width: 96%;
    margin: 2%;
    padding-bottom: 90%;
    opacity: 1;
    transition: all .25s ease-out; }
    section #work .square:hover {
      opacity: 0.6; }
      section #work .square:hover span {
        opacity: 1; }
    section #work .square span {
      position: absolute;
      top: 50%;
      opacity: 0;
      z-index: 1;
      vertical-align: bottom;
      text-align: center;
      transition: all .25s ease-out; }
  @media (min-width: 768px) {
    section #work .square {
      width: 45%;
      padding-bottom: 43%;
      margin: 2.5%; } }
  @media (min-width: 992px) {
    section #work .square {
      width: 30%;
      margin: 1.66%;
      padding-bottom: 30%; } }

footer {
  background-color: rebeccapurple; }
  footer #contact {
    height: 100vh; }
