/*@import "settings";

body {
    background-color: $color-bg;
    color: $color-text;
}*/
/********* imports *********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/********* fonts sources *********/
/*@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/LiberationSansRegular.eot');
    src: url('../fonts/LiberationSansRegular.eot') format('embedded-opentype'),
         url('../fonts/LiberationSansRegular.woff2') format('woff2'),
         url('../fonts/LiberationSansRegular.woff') format('woff'),
         url('../fonts/LiberationSansRegular.ttf') format('truetype'),
         url('../fonts/LiberationSansRegular.svg#LiberationSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../fonts/LiberationSansBold.eot');
    src: url('../fonts/LiberationSansBold.eot') format('embedded-opentype'),
         url('../fonts/LiberationSansBold.woff2') format('woff2'),
         url('../fonts/LiberationSansBold.woff') format('woff'),
         url('../fonts/LiberationSansBold.ttf') format('truetype'),
         url('../fonts/LiberationSansBold.svg#LiberationSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}*/
/********* fonts *********/
/*body {
	line-height: 1.2;
}

.content {
	h1 {
		font-family: 'LiberationSans';
		font-weight: 400;
	}
	p, h2, h3 {
		font-family: 'HelveticaNeueLight';
		font-weight: 300;
	}
	strong {
		font-family: 'LiberationSans';
		font-weight: 700;
	}
}*/
* {
  box-sizing: border-box; }

.content {
  width: 100%;
  height: 100vh; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  width: 8.33%;
  height: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*#img-gilding {
    background-image: url(../images/img-gilding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
#logo-1 {
    background-image: url(../images/logo-new.png);
    background-size: contain;
    background-repeat: no-repeat;	
}

#body {
    background-image: url(../images/body.jpg);
    background-size: contain;
    background-repeat: no-repeat;	
}

#holly {
    background-image: url(../images/holly.jpg);
    background-size: contain;
    background-repeat: no-repeat;	
}*/
/*$color-bg: red;
$color-text: white;
*/
/*@import 'media';*/
/********* content *********/
#content {
  width: 100%;
  background-color: white; }

header {
  background-color: yellow;
  height: 100vh; }

section #about {
  background-color: green;
  height: 100vh; }

section #work {
  background-color: blue;
  height: 200vh; }

footer #contact {
  background-color: purple;
  height: 100vh; }
