.img-body {
    background-image: url(../images/body.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
/*background-position: center top;*/

.brand_1 {
    background-image: url(../images/brand/BADANIA.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_2 {
    background-image: url(../images/brand/gild.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_3 {
    background-image: url(../images/brand/IMG_5135.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_4 {
    background-image: url(../images/brand/IMG_6698.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_5 {
    background-image: url(../images/brand/przedpo.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_6 {
    background-image: url(../images/brand/REKONSTRUKCJA.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_7 {
    background-image: url(../images/brand/RZEŹBA.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_8 {
    background-image: url(../images/brand/SZTALUGOWE.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_9 {
    background-image: url(../images/brand/ŚCIENNE.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.brand_10 {
    background-image: url(../images/brand/ZŁOCENIE.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.img-facebook {
    background-image: url(../images/socialmedia/facebook.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.img-instagram {
    background-image: url(../images/socialmedia/instagram.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.img-whatsapp {
    background-image: url(../images/socialmedia/whatsapp.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.img-linkedin {
    background-image: url(../images/socialmedia/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover; 
}