/*@import "settings";

body {
    background-color: $color-bg;
    color: $color-text;
}*/

/********* imports *********/

@import 'reset';
@import 'fonts';
@import 'grid';
@import 'images';
@import 'settings';
/*@import 'media';*/

/********* content *********/

body {

}

#content {
	width: 100%;
	// max-width: 1000px;
	// margin: 0 auto 10px;
	background-color: white;
	padding: 10px;
}

header {
	background-color: yellow;
	height: 100vh;
	nav {
		height: 80px;
	}
	hgroup {	
		height: 200px;
		min-height: 300px;
		div {
			width: 80%;
			margin: 0 auto;
		}	
	}
}

section {
	#about {
		background-color: green;
		height: 100vh;
		display: flex;
		flex-direction: column-reverse;
		.container {
			height: 50%;
		}
		.text-about {
			display: flex;
			justify-content: center;
			flex-direction: column;
			div {
				width: 80%;
				margin: 0 auto;
			}
		}
		.img-about {
			.img-body {
				height: 100%;
				width: 100%;
				display: block;

				// transform: rotate(-90deg);				
			}
		}
	}
	#work {
		background-color: blue;
		height: 200vh;
	}
}

footer {
	#contact {
		background-color: purple;
		height: 100vh;
	}
}


// .header {
//   height: auto;
//   justify-content: inherit;
//   align-items: inherit;
// }

// .photo img {
//   width: 100%;
//   display: block;
// }
