/*
body {
    background-color: $color-bg;
    color: $color-text;
}*/

/********* imports *********/

@import 'reset';
@import 'fonts';
@import 'grid';
@import 'images';
@import 'settings';
@import 'media';

/********* content *********/

body {

}

#content {
	width: 100%;
	// max-width: 1000px;
	// margin: 0 auto 10px;
	background-color: white;
	padding: 10px;
}

header {
	background-color: lightyellow;
	height: 100vh;
}
nav {
	height: 80px;
	a{
	  text-decoration: none;
	  color: #232323;
	  transition: color 0.3s ease;
	  &:hover {

		}
	}
	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 50px;
	  left: 50px;
	  z-index: 1;
	  user-select: none;
	}
	
	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	}
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #cdcdcd;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}
	
	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}
	
	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}
	
	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}
	
	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	
	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}
	
	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}
	
	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
}
hgroup {	
	height: 200px;
	min-height: 300px;
	div {
		width: 80%;
		margin: 0 auto;
	}	
}

section {
	#about {
		background-color: lightgreen;
		height: 100vh;
		display: flex;
		flex-direction: column-reverse;
		.container {
			height: 50%;
		}
		.text-about {
			display: flex;
			justify-content: center;
			flex-direction: column;
			div {
				width: 80%;
				margin: 0 auto;
			}
		}
		.img-about {
			.img-body {
				height: 100%;
				width: 100%;
				display: block;

				// transform: rotate(-90deg);				
			}
		}
	}
	#work {
		background-color: lightblue;
		margin: 0 auto;
		max-width: 1600px;			
		.grid {
			.square {	
	    		float: left;
	    		position: relative;
	    		width: 96%;
				margin: 2%;
	    		padding-bottom: 90%;
	    		opacity: 1;
	    		transition: all .25s ease-out;
	    		&:hover {
	    			opacity: 0.6;
	    			span {
						opacity: 1;
					}
	    		}
	    		span {
					position: absolute;
					top: 50%;
					opacity: 0;
					z-index: 1;
					vertical-align: bottom;
					text-align: center;
					transition: all .25s ease-out;	    			
	    		}		
			}

			@media #{$small} {
				.square {
					width: 45%;
					padding-bottom: 43%;
					margin: 2.5%;	
				}
			}
			@media #{$medium} {
				.square {
					width: 30%;
	    			margin: 1.66%;
	    			padding-bottom: 30%;	
				}					
			}
		}
	}
}

footer {
	#contact {
		background-color: lightpurple;
		height: 100vh;
	}
}

