/*
body {
    background-color: $color-bg;
    color: $color-text;
}*/

/********* imports *********/

@import 'reset';
@import 'fonts';
@import 'grid';
@import 'images';
@import 'settings';
@import 'media';

/********* content *********/

body {

}

#content {
	width: 100%;
	// max-width: 1000px;
	// margin: 0 auto 10px;
	background-color: white;
	padding: 10px;
}

header {
	background-color: lightyellow;
	height: 100vh;
	nav {
		height: 80px;
	}
	hgroup {	
		height: 200px;
		min-height: 300px;
		div {
			width: 80%;
			margin: 0 auto;
		}	
	}
}

section {
	#about {
		background-color: lightgreen;
		height: 100vh;
		display: flex;
		flex-direction: column-reverse;
		.container {
			height: 50%;
		}
		.text-about {
			display: flex;
			justify-content: center;
			flex-direction: column;
			div {
				width: 80%;
				margin: 0 auto;
			}
		}
		.img-about {
			.img-body {
				height: 100%;
				width: 100%;
				display: block;

				// transform: rotate(-90deg);				
			}
		}
	}
	#work {
		background-color: lightblue;
		// height: 200vh;
		// @media #{$thin} {
			margin: 0 auto;
			max-width: 1600px;			
		// }
		.grid {
			.square {	
	    		float: left;
	    		position: relative;
	    		// width: 30%;
	    		// margin: 1.66%;
	    		width: 96%;
				margin: 2%;
	    		background-position: center center;
	    		background-repeat: no-repeat;
	    		background-size: cover;
	    		// padding-bottom: 30%;	
	    		padding-bottom: 90%;		
			}
			@media #{$thin} {
				
			}
				// .square {
				// 	display: block;
				// 	max-width: 100%;
				// 	width: 100px;
				// 	height: 100px;
				// 	background-color: rebeccapurple;
				// 	margin: 0 auto;				
				// }
			@media #{$small} {
				.square {
					width: 45%;
					padding-bottom: 43%;
					margin: 2.5%;	
				}
			}
			@media #{$medium} {
				.square {
					width: 30%;
	    			margin: 1.66%;
	    			padding-bottom: 30%;	
				}					
			}
		}
	}
}

footer {
	#contact {
		background-color: lightpurple;
		height: 100vh;
	}
}


// .header {
//   height: auto;
//   justify-content: inherit;
//   align-items: inherit;
// }

// .photo img {
//   width: 100%;
//   display: block;
// }
